body {color: #292f59;}

body {font-family: "OCR A Std", monospace, sans-serif; }

body {background-image: url(flowers.jpg);}

body {text-align: center;}

p {color: #564d59;}

p {font-weight: bold;}

ul {color: #feeecc;}
